body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, rgb(18, 116, 134), #5c5c97);
  color: #fff;
  margin: 0;
}

header {
  background: #0056b3; 
  color: #fff;
  padding: 15px;
  text-align: center;
}

nav {
  background: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav a[href="index.html"] {
  background-color: #dc3545; 
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

nav a[href="index.html"]:hover {
  background-color: #bd2130; 
}
nav li {
  display: inline;
  margin-right: 10px;
}
nav a[href="crearCita.html"] {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

nav a[href="crearCita.html"]:hover {
  background-color: #0056b3;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-container {
    float: left;
    margin-right: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
}


.text-container {
    overflow: hidden; 
}
.cookie-warning {
    background: linear-gradient(0deg, #9005bd 0%, #bc28d2 100%);
    box-shadow: 10px 5px 20px 0 rgba(144, 5, 189, 0.3);
    justify-content: center;
    max-width: 400px;
    display: flex;
    color: #FFF;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 0.6rem;
    left: 2.4rem;
    right: 2.4rem;
    bottom: 2.4rem;
    z-index: 100;
  }
  
  .cookie-warning__title {
    font-size: 2rem;
    margin-bottom: 0.8rem;
  }
  
  .cookie-warning__text {
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 1rem;
  }
  
  .cookie-warning a {
    color: rgba(255, 255, 255, 0.8);
  }
  
  .cookie-warning__button-group {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    margin-bottom: -0.5rem;
  }
  
  .cookie-warning__button {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    padding: 8px 8px;
    border-radius: 0.6rem;
    margin-right: 0.8rem;
    font-size: 1rem;
    color: #FFF;
    transition: 0.15s ease;
  }
  
  .cookie-warning__button:hover {
    color: #9005bd;
    background-color: rgba(255, 255, 255, 0.8);
  }
  section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.noticia {
    flex-basis: calc(33.33% - 20px);
    background-color: #fff;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
} 

.container {
    display: flex;
    gap: 10px;
  }
  
  .card {
    background-color: #8b718f;
    height: 100px;
    width: 100px;
    flex: 1;
    border-radius: 16px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card:hover {
    flex: 2;
    background-color: #b8b8b8;
  }
  .titulo-contenedor {
    background-color: #007BFF; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh; 
}